.yConTitle {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 34px;

    color: #091433;
}

.yConText {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #1D2E54;
}

.boxStyle {
    padding: 0 1em;
}
.sideBox {
    padding: 1rem;
    background-color: white;
}
.blueBox {
    padding: 1rem;
    background: #F3F9FF;
    border-left-color: #2887EC;
    border-left-width: 4px;
    border-left-style: solid;
}
.yellowBox {
    padding: 1rem;
    background: #FFF8E3;
    border-left-color: #E8BB29;
    border-left-width: 4px;
    border-left-style: solid;
}
.redBox {
    padding: 1rem;
    background: #FFF5F6;
    border-left-color: #EC2024;
    border-left-width: 4px;
    border-left-style: solid;
}

.outerBox {
    margin: 2% 12%;
}

.textStyle {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 34px;
    color: #091433;
}

.loremStyle {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    color: #1D2E54;
}

.btnTextStyle {
    position: relative;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    padding: 14px 20px;
    color: #FFFFFF;
}

.btnStyle {

    font-size: 0.9375rem;
    line-height: auto;
    text-align: center;
    margin-top: 2%;
    cursor: pointer;
    background-color: #2887EC;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    background: #2887EC;

    width: fit-content;

}

.lineStyle {
    position: inherit;
    height: 0px;

    border: 1px solid rgba(54, 82, 135, 0.2);
}

.ps_underline {
    border-bottom: 4px solid #eabc28;
    width: 8rem;
    margin-top: 0.5rem;
}
.slds-table{
    border: 1px solid #DDDDDD;
}

.tableHeader{
    height: 4rem;
    background: #F3F9FF;
    font-size: 1rem;
    font-family: sans-serif;
    box-sizing: border-box;
}

.headerBackground{
    background: #F3F9FF;
}
tr {
    border-bottom: 1px solid #DDDDDD;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 3% 1%;

}

.jobStyle {
    height: 38px;
    left: 100px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #091433;
}

.ps-hr-line {
    border-bottom: 3px solid #DDDDDD;
    margin-top: 1%;
    padding: 0 6%;
}

.tile {
    position: inherit;
    max-width: auto;
    height: auto;
    flex: auto;
    margin-bottom: 10px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-top: 4px solid #CCB078;
}
.tilelarge {
    position: inherit;
    max-width: auto;
    height: auto;
    flex: auto;
    margin: 0 auto;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-top: 4px solid #CCB078;
}

.cardTitle {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    cursor: pointer;
    color: #2887EC;
}
.cardDateTimeStyle {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    padding: 1% 0;
}

.cardTextStyle {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1D2E54;
    padding: 2% 0;
}

.titleStyle {
    height: 26px;
    position: static;
   
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;
    color: #003A6A;
     border-bottom: 2px solid #091434;
}
.titleStyle2{
    position: static;
    height: 26px;
   
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 19px;

    color: #888888;
}
.line{
    width: auto;
    height: 0px;

    border: 1px solid #C7C7C7;
}
.small_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 3% 12%;
}
.small_title{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: rgb(155, 154, 154);
    padding: 1% 0;
}
.small_desc{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: rgb(0, 0, 0);
    padding: 1% 0;
}
.btnTextStyle{
  position: relative;   
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 9px;

  padding-left:inherit;
  padding-right: inherit;

  
  color: #FFFFFF;
}
.btnStyle {

  padding: 5px 10px;

  font-size: 16px;
  line-height: auto;
  text-align: center;

  cursor: pointer;
  background-color: #2887EC;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  background: #2887EC;

  width: fit-content;

}